.footer{
    background-color: #F5FDC6;
    font-weight: bold; 
    


    ul{
        display: flex;
        list-style: none;
        width: 450px;
        margin: 0 auto;
        justify-content: center;

        li{
           background-color: #41521F;
            margin: 30px;
            text-decoration: none;
        }


    }
}